
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c7e5bf;
    color: #000000;
}

h1, h2 {
    color: #000000;
    font-size: 24px;
}

p {
    color: #555555;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}


#inicio {
    background-color: #eaf3dc;
    padding: 40px;
    text-align: center;
}

.logo img {
    width: 200px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    font-weight: bold;
    font-size: 16px;
}


#quienes-somos {
    background-color: #eaf3dc;
    color: #ffffff;
    padding: 40px;
    text-align: center;
}

.image-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
}

.image-slider img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
}

/* Estilos de la sección "Contacto" */
#contacto {
    background-color:  #eaf3dc;
    padding: 40px;
    text-align: center;
}

/* Estilos del footer */
footer {
    background-color: #c7e5bf;
    color: #dddddd;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}


/* Estilos del formulario de PQRS */
#contacto img[src="media/pqrsAgrofadec.png"] {
    max-width: 200px;
    height: auto;
}

